html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prepreči skrolanje izven okvira */
}

body {
    background-image: url('background.jpg'); /* Tvoje ozadje */
    background-size: contain;  /* Slika se bo prilagodila širini in ohranila razmerje */
    background-position: top center; /* Slika začne na vrhu in je centrirana */
    background-repeat: no-repeat; /* Prepreči ponavljanje slike */
    font-family: "Times New Roman", serif;
    text-align: center;
    color: blue;
    min-height: 100vh; /* Višina zaslona je minimalna višina telesa */
    height: auto; /* Višina dokumenta se bo prilagodila vsebini */
    overflow-y: auto; /* Omogoči vertikalno skrolanje */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 28px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    font-size: 16px;
}

button {
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Times New Roman", serif;
}

button:hover {
    background-color: red;
    color: white;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
