body {
    height: 9700px;
    background-image: url('background.jpg'); /* Dodaj svojo sliko */
    background-size: cover; /* Poskrbi, da ozadje pokrije celoten zaslon */
    height: 100%; 
    margin: 0;
    overflow-y: auto; /* Omogoči skrolanje po osi Y */
    max-height: 9700px;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: blue;
}

.container {
    position: absolute;
    top: 2048px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 28px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    font-family: "Times New Roman", serif;
}

button {
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Times New Roman", serif;
}

button:hover {
    background-color: red;
    color: white;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.love-letter-container {
    position: absolute;
    top: 9600px; /* Postavi na dno strani */
    width: 100%;
    text-align: center;
}

#generateBtn, #copyBtn {
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Times New Roman", serif;
    margin: 10px;
}

#generateBtn:hover, #copyBtn:hover {
    background-color: red;
    color: white;
}

#loveLetter {
    width: 80%;
    height: auto; /* Višina se prilagaja tekstu */
    min-height: 120px; /* Minimalna višina */
    font-size: 16px;
    font-family: "Times New Roman", serif;
    padding: 10px;
    border: 1px solid black;
    display: block;
    margin: auto;
    resize: none; /* Onemogoči ročno spreminjanje velikosti */
    overflow: hidden; /* Prepreči notranji scrollbar */
    text-align: center;
}
